@model NMStest.Models.StarSystems

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StarSystems</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StarType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StarType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EconomyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EconomyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConflictType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConflictType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SystemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
